doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        meta(name="author" content="Roman Pytalev")
        meta(name="Copyright" content="Roman Pytalev")
        meta(name="description" content="Pytalev's web studio and school is always open to web developers. Let's get party started. HTML, CSS and of course JavaScript naturally is here")
        link(rel="shortcut icon" type="image/png" href="favicon.png")
        link(rel="stylesheet", href="styles.min.css")
        title Roman Pytalev | pytalev.com
    body 
        .container
            include ./header.pug
            .sectionAbout 
                .article
                    h1 About me 
                    .text
                img#selfie-gray-effect(src="src/img/src-img/selfie-gray-effect.png" alt="Selfie Roman Pytalev image")
                p 220030 Minsk Belarus 21 Karla Marksa
                #map
                a.button-up-2(href="#top" role='button') 
                    img.button-up-orange-2(src="src/img/src-img/button-up-orange-2.svg" alt="Circle orange button with marker arrow up image")
                    img.button-up-white-2(src="src/img/src-img/button-up-white-2.svg" alt="Circle white button with marker arrow up image")
            include ./footer.pug
    script(src="about.min.js") 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0P3SKz8u9s5M3K3It8bVSFamJMEyoKXg&callback=initMap&libraries=&v=weekly"async></script>