.sectionSecondStage
    h1#i I
    h1#am am 
    h1#web web 
    h1#developer developer
    .checkpoint-two
        img#ring-two(src="src/img/src-img/ring-two.svg" alt="Big ring image")
        .planet-two
            img#planet-olive(src="src/img/src-img/planet-olive.svg" alt="Olive planet with JS CSS and HTML logos image")
