.sectionFourthStage
    h1#and and
    h1#some some
    h1#design design
    .checkpoint-three
        img#spaceman-2(src="src/img/src-img/spaceman-2.svg" alt="Spaceman image")
        img#ring-three(src="src/img/src-img/ring-three.svg" alt="Big ring image")
        .planet-three
            img#planet-figma(src="src/img/src-img/planet-figma.svg" alt="Orange planet with Figma logo image")