.sectionFirstStage
    h1#hello Hello
    img#stars(src="src/img/src-img/stars.svg" alt="Stars image")
    .checkpoint-one
        img#ring-one(src="src/img/src-img/ring-one.svg" alt="Big ring image")
        .planet-one
            img#planet-orange(src="src/img/src-img/planet-orange.svg" alt="Big orange planet image")
    img#spaceman-0(src="src/img/src-img/spaceman-0.svg" alt="Spaceman image")
    img#spaceman-1(src="src/img/src-img/spaceman-1.svg" alt="Spaceman image")
    a.button-up(href="#top" role='button') 
        img.button-up-orange(src="src/img/src-img/button-up-orange.svg" alt="Circle orange button with marker arrow up image")
        img.button-up-white(src="src/img/src-img/button-up-white.svg" alt="Circle white button with marker arrow up image")