.sectionFifthStage {
    @extend %section-row;
    justify-content: center;
    align-items: center;

    #contact {
        position: absolute;
        left: 105%;
        top: -17%;
        transition: 1s ease;
    } 

    #me {
        position: absolute;
        top: 63%;
        left: -25%;
        transition: 1s ease;
    } 

    %contactLink {
        position: absolute;
        font-size: 2rem;
        font-weight: 300;
        z-index: 555;
    }

    #collaboration {
        top: 30%;
        left: 7%;
        @extend %contactLink; 
    }

    #training {
        top: 65%;
        left: 10%;
        @extend %contactLink; 
    }

    #roman {
        top: 21%;
        left: 77%;
        @extend %contactLink; 
    }

    #spaceman-3 {
        position: absolute;
        top: 32%;
        left: 27%;
        width: 45%;
        height: 45%;
        opacity: 0;
        z-index: 3;
        transition: 1s ease;
    }

    .checkpoint-four {

        @extend %checkpoint;

            #ring-four {
                @extend %ring;
            }

            .planet-four {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                #planet-orange-2 {
                    @extend %planet;
                }
            }
    }

    a p:hover {
        color: #ff7800;
    }

    @media (min-width: 960px) {

        #contact {
            top: -22%;
        } 

        #roman {
            left: 70%;
        }

        #collaboration {
            left: 2%;
            top: 24%;
        }
    
        #training {
            top: 72%;
        }
    }

    @media (min-width: 760px) and (max-width: 959px) {

        #me {
            top: 68%;
            left: -10%;
        } 

        #roman {
            left: 67%;
        }

        #collaboration {
            top: 24%;
            left: 3%;
        }
    
        #training {
            top: 70%;
            left: 5%;
        }
    }

    @media (min-width: 480px) and (max-width: 759px) {

        #contact {
            top: -6%;
        } 

        #roman {
            left: 67%;
        }

        #collaboration {
            top: 24%;
            left: 2%;
        }
    
        #training {
            top: 70%;
            left: 4%;
        }
    }

    @media (max-width: 479px) {

        #contact {
            top: -2%;
        } 

        #me {
            top: 67%;
        } 

        #roman {
            left: 60%;
        }

        #collaboration {
            top: 24%;
            left: 2%;
        }
    
        #training {
            top: 68%;
            left: 4%;
        }
    }

    @media (max-height: 320px) {

        #collaboration {
            top: 16%;
            left: 2%;
            @extend %contactLink; 
        }

        #training {
            top: 65%;
            left: 6%;
        }
    }

    @media (max-height: 700px) {

        #me {
            top: 67%;
            left: 3%;
            transition: 1s ease;
        } 

        #training {
            top: 65%;
            left: 10%;
        }
    }
}
