.sectionFirstStage {
    @extend %section-row;
    height: 90vh;

    #hello {
        position: absolute;
        top: 50%;
        right: 0;
        visibility: hidden;
        transition: 1s ease;
    } 

    #stars {
        @extend %stars;
    }

    #spaceman-0 {
        @extend %spaceman;
        left: 5%;
        top: 5%;
        opacity: 1;
        z-index: 555;
    }

    #spaceman-1 {
        @extend %spaceman;
        left: 5%;
        top: 5%;
    }
    
    #planet-orange {
        @extend %planet;
        top: -1%;
        left: 39%;
        visibility: hidden;
    }

    #ring-one {
        @extend %ring;
        top: 4.7%;
        left: 46.1%;
        visibility: hidden;
    }

    .button-up {
        position: absolute;
        display: none;
        z-index: 555;
        :hover {
            animation: rotor .3s 1 both;
        }
        @keyframes rotor {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(360deg);
            }
          }
    }

    .button-up-white {
        display: none;
    }

    .showButtonUp {
        display: flex;
    }

    @media (min-width: 768px) and (max-width: 1024px) {

        #planet-orange {
            top: -2%;
            left: 40.5%;
        }
    }

    @media (min-width: 480px) and (max-width: 767px) {
        
        #planet-orange {
            top: -4%;
            left: 41%;
        }
    }

    @media (max-width: 479px) {

        #planet-orange {
            top: -4%;
            left: 41%;
        }
    }
}
