.sectionSecondStage {
    @extend %section-row;
    justify-content: end;

    #i {
        position: absolute;
        top: -10%;
        left: 2%;
        opacity: 0;
    } 

    #am {
        position: absolute;
        left: 2.5%;
        top: 5%;
        transform: rotate(90deg);
        opacity: 0;
    } 

    #web {
        position: absolute;
        left: 7%;
        top: 46%;
        opacity: 0;
    } 

    #developer {
        position: absolute;
        left: 15%;
        top: 62%;
        transform: rotateX(180deg);
        opacity: 0;
    } 

    .checkpoint-two {

        @extend %checkpoint;

            #ring-two {
                @extend %ring;
            }

            .planet-two {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                #planet-olive {
                    @extend %planet;
                }
            }
    }
    
    @media (max-width: 479px) {

        #i {
            top: -6%;
        } 

        #web {
            left: 5%;
        } 
    
        #developer {
            left: 5%;
        } 
    }
}
