.header__language-switch-bottom-surf {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  width: 2.4rem;
  height: 4.4rem;
  border-radius: 4rem;
  box-shadow: inset .1rem .1rem .1rem .1rem rgba(0, 0, 0, .15),
              inset -.1rem -.1rem .1rem .1rem rgba(255, 255, 255, .5);
}

.header__language-switch-top-surf {
  position: absolute;
  bottom: .5rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-image: linear-gradient(139.95deg, #f3f3f3 16.4%, #CBCBCB 83.04%);
  box-shadow: 6px 6px 15px #D6D6D6, -6px -6px 15px #eeeeee;
  cursor: pointer;
}

.header__language-switch-title > p {
  margin: 0;
  font-size: 1rem;
} 

.header__language-switch-title-en {
  margin-top: .5rem;
}

.header__language-switch-title-ru {
  margin-top: .5rem;
}

.onEn {
  transform: translateY(1.9rem);
}

.onRu {
  transform: translateY(-1.9rem);
}

.header__language-switch {
  margin: 0 .5rem;
}