.slider__slide-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #160752, #161323);
  }
  
  .slider__slide-content img {
    position: absolute;
  }
  
  .slider__slide-1 .slider__layer-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slider__slide-1 .slider__layer-two,
  .slider__slide-1 .slider__layer-three,
  .slider__slide-1 .slider__layer-four {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  #background-1 {
    max-width: 100%;
    object-fit: cover;
    opacity: .5;
    transition: .2s ease-out;
  }
  
  #stars-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s ease-out;
  }
  
  #spaceman-1-xs {
    left: 30rem;
    top: 28rem;
    mix-blend-mode: screen;
    transition: 1s ease-out;
  }
  
  #planet-orange-1 {
    left: 55rem;
    top: -7rem;
    mix-blend-mode: screen;
    transition: 1s ease;
  }
  
  #letter-I-1 {
    left: -15rem;
    top: 7rem;
    transition: 1s ease-out;
  }
  
  #word-am-1 {
    left: 47rem;
    top: -15rem;
    transition: 1.2s ease-out;
  }
  
  #word-web-1 {
    left: 52rem;
    top: 48rem;
    transition: 1.3s ease-out;
  
  }
  
  #word-dev-1 {
    left: 45rem;
    top: 54rem;
    transition: 1.3s ease-out;
  
  }
  
  .slider__slide-2 .slider__layer-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slider__slide-2 .slider__layer-two,
  .slider__slide-2 .slider__layer-three,
  .slider__slide-2 .slider__layer-four {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  #background-2 {
    max-width: 100%;
    object-fit: cover;
    transition: .1s;
  }
  
  #stars-2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s ease-out;
  }
  
  #spaceman-2 {
    left: 28rem;
    top: 50rem;
    mix-blend-mode: screen;
    transition: 1s ease-out;
  }
  
  #planet-vsc-2 {
    left: 4rem;
    top: 30rem;
    mix-blend-mode: screen;
    opacity: 0;
    transition: .1s ease-out;
  }
  
  #planet-sass-2 {
    left: 5rem;
    top: 20rem;
    mix-blend-mode: screen;
    opacity: 0;
    transition: .2s ease-out;
  }
  
  #planet-figma-2 {
    left: 9rem;
    top: 9rem;
    mix-blend-mode: screen;
    opacity: 0;
    transition: .3s ease-out;
  }
  
  #planet-gulp-2 {
    left: 17rem;
    top: 0;
    mix-blend-mode: screen;
    opacity: 0;
    transition: .4s ease-out;
  }
  
  #planet-bem-2 {
    left: 28rem;
    top: -6rem;
    mix-blend-mode: screen;
    opacity: 0;
    transition: .5s ease-out;
  }
  
  #planet-git-2 {
    left: 40rem;
    top: -8rem;
    mix-blend-mode: screen;
    opacity: 0;
    transition: .6s ease-out;
  }
  
  #planet-js-css-html-2 {
    left: 90rem;
    top: 1rem;
    mix-blend-mode: screen;
    transition: 1s ease-out;
  }
  
  #letter-I-2 {
    left: 6rem;
    top: -10rem;
    transition: 1s ease-out;
  }
  
  #word-can-2 {
    left: 7rem;
    top: -10rem;
    transition: 1.2s ease-out;
  }
  
  #word-do-2 {
    left: 4rem;
    top: -15.5rem;
    transition: 1.3s ease-out;
  }
  
  #word-web-2 {
    left: 57rem;
    top: 44rem;
    transition: 1.3s ease-out;
  }
  
  #word-dev-2 {
    left: 61rem;
    top: 49.5rem;
    transition: 1.3s ease-out;
  }
  
  .slider__slide-3 .slider__layer-one {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slider__slide-3 .slider__layer-two,
  .slider__slide-3 .slider__layer-three,
  .slider__slide-3 .slider__layer-four {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  #background-3 {
    max-width: 100%;
    object-fit: cover;
    opacity: .5;
    transition: .2s ease-out;
  }
  
  #stars-3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s ease-out;
  }
  
  #spaceman-3-xs {
    left: 60rem;
    top: 25rem;
    mix-blend-mode: screen;
    transition: 1s ease-out;
  }
  
  #letter-I-3 {
    left: 118rem;
    top: 12rem;
    transition: 1s ease-out;
  }
  
  #word-teach-3 {
    left: 121rem;
    top: 18rem;
    transition: 1.2s ease-out;
  }
  
  #word-web-3 {
    left: 119rem;
    top: 26rem;
    transition: 1.3s ease-out;
  }
  
  #word-dev-3 {
    left: 116rem;
    top: 31.3rem;
    transition: 1.3s ease-out;
  }
  
  #word-with-3 {
    left: 36rem;
    top: 55rem;
    transition: 1.3s ease-out;
  }
  
  #hart-3 {
    left: 44rem;
    top: 22rem;
    mix-blend-mode: screen;
    opacity: 0;
    transition: 1.3s ease-out;
  }