.sectionFourthStage {
    @extend %section-row;
    justify-content: end;

    #and {
        position: absolute;
        left: 5%;
        top: 0;
    } 

    #some {
        position: absolute;
        left: 15%;
        top: 16%;
        opacity: 0;
        transition: 1s ease;
    } 

    #design {
        position: absolute;
        left: 5%;
        top: 24%;
        transition: 1s ease;
    } 

    #spaceman-2 {
        @extend %spaceman;
        top: 20%;
        left: 59%;
    }

    .checkpoint-three {

        @extend %checkpoint;

            #ring-three {
                @extend %ring;
            }

            .planet-three {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                #planet-figma {
                    @extend %planet;
                }
            }
    }

    @media (min-width: 1440px) {

        #some {
            left: 2%;
            top: 31%;
        }
    }

    @media (max-width: 478px) {

        #some {
            top: 8%;
        } 
    }
}
