.container {
    @extend %media-queries;
}

.sectionStudio {
    display: flex;
    flex-flow: row wrap;
    background-image: url(src/img/src-img/stars-1.svg);

    h1 {
        font-size: 12rem;
        font-weight: 800;
        margin-top: 4%;
        margin-bottom: 8%;
        width: 100%;
        text-align: center;
        border-radius: 1rem;
    }

    h2 {
        font-size: 3rem;
        width: 100%;
        margin: 0;
    }

    h3 {
        font-size: 1.8rem;
        width: 100%;
        margin: 0;
    }

    p {
        font-size: 1.6rem;
        width: 100%;
    }

    %project {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
    }

    %project-item {
        display: flex;
        flex-flow: row wrap;
        width: calc(33.33333333333333% - 30px);
        background-color: rgba(100, 100, 100, 0.1);
        border-radius: 1rem;
        margin: 15px;
        align-items: center;
    }

    %image {
        @extend %project-item;
        justify-content: center;
    }

    %marker {
        @extend %project-item;
    }

    %description {
        @extend %project-item;
        flex-wrap: wrap;
        align-self: flex-start;
    }

    .projects {
        @extend %project;

        .image {
            @extend %image;

            #logo-orange-project {
                transform-style: preserve-3d;
                max-width: 50%;
                height: 50%;
                animation: rot 5s infinite;
            }
            @keyframes rot {
                0% {
                    transform: rotateY(0deg)
                }
                100% {
                    transform: rotateY(360deg)
                }
            }
        }

        .image-1 {
            @extend %image;
            perspective: 100rem;
        }

        .marker {
            @extend %marker;
        }

        .description {
            @extend %description;
            text-align: left;

            p {
                text-align: left;
            }
        }

        .description-2 {
            @extend %description;
            text-align: right;

            p {
                text-align: right;
            }
        }

        .image-2 {
            @extend %image;

            #logo-theMood {
                max-width: 70%;
                height: 70%;
            }
        }

        .description {
            @extend %description;
        }

        .marker {
            @extend %marker;
        }

        .image-3 {
            @extend %image;

            #spinner-project {
                width: 100%;
                height: 100%;
                animation: rotator 1s infinite both;
            }

            @keyframes rotator {
                0% {
                  transform: rotate(0);
                }
                100% {
                  transform: rotate(1080deg);
                }
              }
        }       

        .description-4 {
            @extend %description;
            text-align: right;

            p {
                text-align: right;
            }
        }

        .marker {
            @extend %marker;
        }

        .image-4 {
            @extend %image;

            #neumorphism {
                width: 50%;
                height: 70%;
            }
        }

        .image-5 {
            @extend %image;

            .letters {
                display: flex;
                margin-left: 10%;
            }
            
            .letter {
                position: relative;
                text-align: center;
                font-size: 8rem;
                font-weight: 800;
                color: #ff7800;
            }
            
            #P {
                animation: bounce1 .5s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce1 {
                0% {
                    transform: translateY(100%);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            #y {
                animation: bounce2 .5s .1s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce2 {
                0% {
                    transform: translateY(90%);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            #t {
                animation: bounce3 .5s .2s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce3 {
                0% {
                    transform: translateY(80%);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            #a {
                animation: bounce4 .5s .3s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce4 {
                0% {
                    transform: translateY(70%);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            #l {
                animation: bounce5 .5s .4s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce5 {
                0% {
                    transform: translateY(60%);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            #e {
                animation: bounce6 .5s .5s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce6 {
                0% {
                    transform: translateY(40%);
                }
                100% {
                    transform: translateY(0);
                }
            }
            
            #v {
                animation: bounce7 .5s .6s infinite alternate cubic-bezier(.1,.25,.1,1) backwards;
            }
            
            @keyframes bounce7 {
                0% {
                    transform: translateY(20%);
                }
                100% {
                    transform: translateY(0);
                }
            }
        }

        .marker {
            @extend %marker;
        }

        .description {
            @extend %description;
        }

        .description-6 {
            @extend %description;
            text-align: right;

            p {
                text-align: right;
            }
        }

        .marker {
            @extend %marker;
        }

        .image-6 {
            @extend %image;

            #slider {
                display: flex;
                align-self: center;
                max-width: 50%;
                height: 30%;
            }

            #slider-jscode {
                display: flex;
                align-self: flex-start;
                max-width: 50%;
                height: 50%;
            }
        }
 
        .description {
            @extend %description;
        }

        .marker {
            @extend %marker;
        }

        .image-7 {
            @extend %image;

            .firework-wrapper {
                box-sizing: border-box;
                width: 300px;
                height: 300px;

                %shot {
                    position: relative;
                }

                %path {
                    display: flex;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    opacity: 0;
                }

                %star-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                %star {
                    display: block;
                    position: relative;
                    margin: 5rem 0;
                    border-bottom: .7rem solid aqua;
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    transform: rotate(35deg);
                }

                %star-before {
                    position: absolute;
                    display: block;
                    top: -.45rem;
                    left: -.65rem;
                    content: '';
                    border-bottom: .8rem solid aqua;
                    border-left: .3rem solid transparent;
                    border-right: .3rem solid transparent;
                    transform: rotate(-35deg);
                }

                %star-after {
                    position: absolute;
                    display: block;
                    top: .03rem;
                    left: -1.05rem;
                    content: '';
                    border-bottom: .7rem solid aqua;
                    border-left: 1rem solid transparent;
                    border-right: 1rem solid transparent;
                    transform: rotate(-70deg);
                }

                .shot-1 {
                    @extend %shot;

                    .path {
                        @extend %path;

                        .star-wrapper {
                            @extend %star-wrapper;
    
                            .star {
                                @extend %star;
                            }
                            
                            .star::before {
                                @extend %star-before;
                            }
                            
                            .star::after {
                                @extend %star-after;
                            }
                        }
                    } 

                    @extend %svg-path-1;
                } 

                .shot-2 {
                    @extend %shot;

                    .path {
                        @extend %path;

                        .star-wrapper {
                            @extend %star-wrapper;
    
                            .star {
                                @extend %star;
                                border-bottom-color: magenta;
                            }
                            
                            .star::before {
                                @extend %star-before;
                                border-bottom-color: magenta;
                            }
                            
                            .star::after {
                                @extend %star-after;
                                border-bottom-color: magenta;
                            }
                        }
                    } 

                    @extend %svg-path-2;
                } 

                .shot-3 {
                    @extend %shot;

                    .path {
                        @extend %path;

                        .star-wrapper {
                            @extend %star-wrapper;
    
                            .star {
                                @extend %star;
                                border-bottom-color: #ff7400;
                            }
                            
                            .star::before {
                                @extend %star-before;
                                border-bottom-color: #ff7400;
                            }
                            
                            .star::after {
                                @extend %star-after;
                                border-bottom-color: #ff7400;
                            }
                        }
                    } 

                    @extend %svg-path-3;
                } 

                %svg-path-1 {
                    .p1 {
                        offset-path: path('M595.593-107.688L300+0');
                    }
                    
                    .p2 {
                        offset-path: path('M674.839+568.385L300+0');
                    }
                    
                    .p3 {
                        offset-path: path('M293.436+208.258L300+0');
                    }   
                    
                    .p4 {
                        offset-path: path('M384.98-743.724L300+0');
                    }
                    
                    .p5 {
                        offset-path: path('M76.4743-326.717L300+0');
                    }
                    
                    .p6 {
                        offset-path: path('M593.964+360.984L300+0');
                    }
                    
                    .p7 {
                        offset-path: path('M404.299+42.8379L300+0');
                    }
                    
                    .p8 {
                        offset-path: path('M240.506-330.525L300+0');
                    }
                    
                    .p9 {
                        offset-path: path('M669.873-294.039L300+0');
                    }
                    
                    .p10 {
                        offset-path: path('M448.677+539.592L300+0');
                    }
                    
                    .p11 {
                        offset-path: path('M648.336+443.217L300+0');
                    }
                    
                    .p12 {
                        offset-path: path('M-313.891-615.125L300+0');
                    }
                    
                    .p13 {
                        offset-path: path('M124.487-449.191L300+0');
                    }
                    
                    .p14 {
                        offset-path: path('M-131.467+663.475L300+0');
                    }
                    
                    .p15 {
                        offset-path: path('M556.692+554.476L300+0');
                    }
                    
                    .p16 {
                        offset-path: path('M-537.575-630.436L300+0');
                    }
                    
                    .p17 {
                        offset-path: path('M470.73-166.125L300+0');
                    }
                    
                    .p18 {
                        offset-path: path('M-193.995+195.805L300+0');
                    }
                    
                    .p19 {
                        offset-path: path('M353.333+136.664L300+0');
                    }
                    
                    .p20 {
                        offset-path: path('M-497.701-332.333L300+0');
                    }
                    
                    .p21 {
                        offset-path: path('M608.752-194.424L300+0');
                    }
                }

                %svg-path-2 {
                    .p1 {
                        offset-path: path('M595.593-107.688L200+0');
                    }
                    
                    .p2 {
                        offset-path: path('M674.839+568.385L200+0');
                    }
                    
                    .p3 {
                        offset-path: path('M293.436+208.258L200+0');
                    }   
                    
                    .p4 {
                        offset-path: path('M384.98-743.724L200+0');
                    }
                    
                    .p5 {
                        offset-path: path('M76.4743-326.717L200+0');
                    }
                    
                    .p6 {
                        offset-path: path('M593.964+360.984L200+0');
                    }
                    
                    .p7 {
                        offset-path: path('M404.299+42.8379L200+0');
                    }
                    
                    .p8 {
                        offset-path: path('M240.506-330.525L200+0');
                    }
                    
                    .p9 {
                        offset-path: path('M669.873-294.039L200+0');
                    }
                    
                    .p10 {
                        offset-path: path('M448.677+539.592L200+0');
                    }
                    
                    .p11 {
                        offset-path: path('M648.336+443.217L200+0');
                    }
                    
                    .p12 {
                        offset-path: path('M-313.891-615.125L200+0');
                    }
                    
                    .p13 {
                        offset-path: path('M124.487-449.191L200+0');
                    }
                    
                    .p14 {
                        offset-path: path('M-131.467+663.475L200+0');
                    }
                    
                    .p15 {
                        offset-path: path('M556.692+554.476L200+0');
                    }
                    
                    .p16 {
                        offset-path: path('M-537.575-630.436L200+0');
                    }
                    
                    .p17 {
                        offset-path: path('M470.73-166.125L200+0');
                    }
                    
                    .p18 {
                        offset-path: path('M-193.995+195.805L200+0');
                    }
                    
                    .p19 {
                        offset-path: path('M353.333+136.664L200+0');
                    }
                    
                    .p20 {
                        offset-path: path('M-497.701-332.333L200+0');
                    }
                    
                    .p21 {
                        offset-path: path('M608.752-194.424L200+0');
                    }
                }

                %svg-path-3 {
                    .p1 {
                        offset-path: path('M595.593-107.688L300+150');
                    }
                    
                    .p2 {
                        offset-path: path('M674.839+568.385L300+150');
                    }
                    
                    .p3 {
                        offset-path: path('M293.436+208.258L300+150');
                    }   
                    
                    .p4 {
                        offset-path: path('M384.98-743.724L300+150');
                    }
                    
                    .p5 {
                        offset-path: path('M76.4743-326.717L300+150');
                    }
                    
                    .p6 {
                        offset-path: path('M593.964+360.984L300+150');
                    }
                    
                    .p7 {
                        offset-path: path('M404.299+42.8379L300+150');
                    }
                    
                    .p8 {
                        offset-path: path('M240.506-330.525L300+150');
                    }
                    
                    .p9 {
                        offset-path: path('M669.873-294.039L300+150');
                    }
                    
                    .p10 {
                        offset-path: path('M448.677+539.592L300+150');
                    }
                    
                    .p11 {
                        offset-path: path('M648.336+443.217L300+150');
                    }
                    
                    .p12 {
                        offset-path: path('M-313.891-615.125L300+150');
                    }
                    
                    .p13 {
                        offset-path: path('M124.487-449.191L300+150');
                    }
                    
                    .p14 {
                        offset-path: path('M-131.467+663.475L300+150');
                    }
                    
                    .p15 {
                        offset-path: path('M556.692+554.476L300+150');
                    }
                    
                    .p16 {
                        offset-path: path('M-537.575-630.436L300+150');
                    }
                    
                    .p17 {
                        offset-path: path('M470.73-166.125L300+150');
                    }
                    
                    .p18 {
                        offset-path: path('M-193.995+195.805L300+150');
                    }
                    
                    .p19 {
                        offset-path: path('M353.333+136.664L300+150');
                    }
                    
                    .p20 {
                        offset-path: path('M-497.701-332.333L300+150');
                    }
                    
                    .p21 {
                        offset-path: path('M608.752-194.424L300+150');
                    }
                }

                @keyframes move {
                    0% {
                        offset-distance: 0%;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        offset-distance: 100%;
                    }
                }
            }
        } 
        @media (max-width: 760px) {
            .image,
            .description,
            marker {
            width: calc(50% - 30px);
            }

            .marker {
                display: none;
            }

            .letters {
                transform: scale(.7);
            }
        }
          @media (max-width: 480px) {
            .image,
            .description,
            marker {
            width: calc(100% - 30px);
            }

            .marker {
                display: none;
            }
        }
    } 
    .button-up-3 {
        display: flex;
        margin: auto;
        z-index: 555;
        :hover {
            animation: rotor .3s 1 both;
        }
        @keyframes rotor {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(360deg);
            }
          }
    }
    
    .button-up-orange-3 {
        display: none;
    }  

    @media (max-width: 479px) {

        .description-2,
        .description-4,
        .description-6 {
            padding-right: 12%;
        } 
    }
}
