doctype html
html(lang="en")
  include ./head.pug 
  body 
    include ./spinner.pug 
    .container
      include ./structure.pug
    script(src="src/js/script.js") 
    script(src="src/js/spinner.js") 