.projects
    .image.image-1
        img#logo-orange-project(src="src/img/logo-orange-project.svg" alt="Logo large letter P image")
    .marker
        canvas#marker-1(width="300px" height="300px")
    .description
        h2 Vector graphics 
        h3 Logo for my studio 2020
        p www.pytalev.com
    .description.description-2
        h2 Design logo 
        h3 Logo for theMOOD 2020
        p @themood_clothes
    .marker
        canvas#marker-2(width="300px" height="300px")
    .image.image-2
        img#logo-theMood(src="src/img/logo-theMood.svg" alt="Logo theMOOD company image")
    .image.image-3 
        canvas#spinner-project(width="300px" height="300px")
    .marker
        canvas#marker-3(width="300px" height="300px")
    .description
        h2 Canvas + CSS animation
        h3 Spinner 2021
        p www.pytalev.com
    .description.description-4
        h2 CSS Colors + Shadows + Gradients
        h3 Neumorphism 2021
        p mobile apps
    .marker
        canvas#marker-4(width="300px" height="300px")
    .image.image-4
        img#neumorphism(src="src/img/neumorphism.png" alt="Neumorphism stile surface image")
    .image.image-5 
        .letters
            #P.letter P
            #y.letter y
            #t.letter t
            #a.letter a
            #l.letter l
            #e.letter e
            #v.letter v
    .marker
        canvas#marker-5(width="300px" height="300px")
    .description.description-5 
        h2 CSS animation 
        h3 Bounce letters 2021
        p www.pytalev.com
    .description.description-6
        h2 JavaScript
        h3 Slider 2021
        p www.pytalev.com
    .marker
        canvas#marker-6(width="300px" height="300px")
    .image.image-6
        img#slider(src="src/img/slider.png" alt="Neumorphism stile slider image")
        img#slider-jscode(src="src/img/slider-jscode.png" alt="JavaScript code image")
    .image.image-7 
        .firework-wrapper
            .shot-1
                .path.pathOne.p1
                    .star-wrapper
                        .star
                .path.pathOne.p2
                    .star-wrapper
                        .star
                .path.pathOne.p3
                    .star-wrapper
                        .star
                .path.pathOne.p4
                    .star-wrapper
                        .star
                .path.pathOne.p5
                    .star-wrapper
                        .star
                .path.pathOne.p6
                    .star-wrapper
                        .star
                .path.pathOne.p7
                    .star-wrapper
                        .star
                .path.pathOne.p8
                    .star-wrapper
                        .star
                .path.pathOne.p9
                    .star-wrapper
                        .star
                .path.pathOne.p10
                    .star-wrapper
                        .star
                .path.pathOne.p11
                    .star-wrapper
                        .star
                .path.pathOne.p12
                    .star-wrapper
                        .star
                .path.pathOne.p13
                    .star-wrapper
                        .star
                .path.pathOne.p14
                    .star-wrapper
                        .star
                .path.pathOne.p15
                    .star-wrapper
                        .star
                .path.pathOne.p16
                    .star-wrapper
                        .star
                .path.pathOne.p17
                    .star-wrapper
                        .star
                .path.pathOne.p18
                    .star-wrapper
                        .star
                .path.pathOne.p19
                    .star-wrapper
                        .star
                .path.pathOne.p20
                    .star-wrapper
                        .star
                .path.pathOne.p21
                    .star-wrapper
                        .star
            .shot-2
                .path.pathTwo.p1
                    .star-wrapper
                        .star
                .path.pathTwo.p2
                    .star-wrapper
                        .star
                .path.pathTwo.p3
                    .star-wrapper
                        .star
                .path.pathTwo.p4
                    .star-wrapper
                        .star
                .path.pathTwo.p5
                    .star-wrapper
                        .star
                .path.pathTwo.p6
                    .star-wrapper
                        .star
                .path.pathTwo.p7
                    .star-wrapper
                        .star
                .path.pathTwo.p8
                    .star-wrapper
                        .star
                .path.pathTwo.p9
                    .star-wrapper
                        .star
                .path.pathTwo.p10
                    .star-wrapper
                        .star
                .path.pathTwo.p11
                    .star-wrapper
                        .star
                .path.pathTwo.p12
                    .star-wrapper
                        .star
                .path.pathTwo.p13
                    .star-wrapper
                        .star
                .path.pathTwo.p14
                    .star-wrapper
                        .star
                .path.pathTwo.p15
                    .star-wrapper
                        .star
                .path.pathTwo.p16
                    .star-wrapper
                        .star
                .path.pathTwo.p17
                    .star-wrapper
                        .star
                .path.pathTwo.p18
                    .star-wrapper
                        .star
                .path.pathTwo.p19
                    .star-wrapper
                        .star
                .path.pathTwo.p20
                    .star-wrapper
                        .star
                .path.pathTwo.p21
                    .star-wrapper
                        .star
            .shot-3
                .path.pathThree.p1
                    .star-wrapper
                        .star
                .path.pathThree.p2
                    .star-wrapper
                        .star
                .path.pathThree.p3
                    .star-wrapper
                        .star
                .path.pathThree.p4
                    .star-wrapper
                        .star
                .path.pathThree.p5
                    .star-wrapper
                        .star
                .path.pathThree.p6
                    .star-wrapper
                        .star
                .path.pathThree.p7
                    .star-wrapper
                        .star
                .path.pathThree.p8
                    .star-wrapper
                        .star
                .path.pathThree.p9
                    .star-wrapper
                        .star
                .path.pathThree.p10
                    .star-wrapper
                        .star
                .path.pathThree.p11
                    .star-wrapper
                        .star
                .path.pathThree.p12
                    .star-wrapper
                        .star
                .path.pathThree.p13
                    .star-wrapper
                        .star
                .path.pathThree.p14
                    .star-wrapper
                        .star
                .path.pathThree.p15
                    .star-wrapper
                        .star
                .path.pathThree.p16
                    .star-wrapper
                        .star
                .path.pathThree.p17
                    .star-wrapper
                        .star
                .path.pathThree.p18
                    .star-wrapper
                        .star
                .path.pathThree.p19
                    .star-wrapper
                        .star
                .path.pathThree.p20
                    .star-wrapper
                        .star
                .path.pathThree.p21
                    .star-wrapper
                        .star
    .marker 
        canvas#marker-7(width="300px" height="300px")
    .description
        h2 SVG + CSS animation
        h3 Firework 2021
        p www.pytalev.com