doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        meta(name="author" content="Roman Pytalev")
        meta(name="Copyright" content="Roman Pytalev")
        meta(name="description" content="Pytalev's web studio and school is always open to web developers. Let's get party started. HTML, CSS and of course JavaScript naturally is here")
        link(rel="shortcut icon" type="image/png" href="favicon.png")
        link(rel="stylesheet", href="src/css/styles.css")
        title School | pytalev.com
    body 
        .container
            include ./header.pug
            .sectionSchool 
                img#stars-2(src="src/img/stars-2.svg" alt="Stars image" width="1px" hight="1px")
                .note
                    #word-one
                        img#Coming(src="src/img/Coming.svg" alt="Word 'Coming' white")
                        #coming-top.word
                            img#coming-top-white.part-word(src="src/img/coming-top-white.svg" alt="Top part word 'Coming' white")
                            img#coming-top-magenta.part-word(src="src/img/coming-top-magenta.svg" alt="Top part word 'Coming' magenta")
                            img#coming-top-aqua.part-word(src="src/img/coming-top-aqua.svg" alt="Top part word 'Coming' aqua")
                        #coming-bottom.word
                            img#coming-bottom-white.part-word(src="src/img/coming-bottom-white.svg" alt="Bottom part word 'Coming' white")
                            img#coming-bottom-magenta.part-word(src="src/img/coming-bottom-magenta.svg" alt="Bottom part word 'Coming' magenta")
                            img#coming-bottom-aqua.part-word(src="src/img/coming-bottom-aqua.svg" alt="Bottom part word 'Coming' aqua")
                    #word-two
                        img#soon(src="src/img/soon.svg" alt="Word 'soon' white")
                        #soon-top.word 
                            img#soon-top-white.part-word(src="src/img/soon-top-white.svg" alt="Top part word 'soon' white")
                            img#soon-top-magenta.part-word(src="src/img/soon-top-magenta.svg" alt="Top part word 'soon' magenta")
                            img#soon-top-aqua.part-word(src="src/img/soon-top-aqua.svg" alt="Top part word 'soon' aqua")
                        #soon-bottom.word
                            img#soon-bottom-white.part-word(src="src/img/soon-bottom-white.svg" alt="Bottom part word 'soon' white")
                            img#soon-bottom-magenta.part-word(src="src/img/soon-bottom-magenta.svg" alt="Bottom part word 'soon' magenta")
                            img#soon-bottom-aqua.part-word(src="src/img/soon-bottom-aqua.svg" alt="Bottom part word 'soon' aqua")
                    h2 We are currently working on a school page. Stay tuned!
                    h2 Time left until launching:
                .timer#timer
                    .timer-item
                        .time.days
                        .text Days
                    .timer-item
                        .time.hours
                        .text Hours
                    .timer-item
                        .time.minutes
                        .text Minutes
                    .timer-item
                        .time.seconds
                        .text Seconds
            include ./footer.pug
    script(src="src/js/script-school.js") 