.sectionFirstTextBlock
    p Even as a boy, I thought about the universe, which seemed to me as vast as it was incomprehensible. And, as you know, everything incomprehensible attracts romantics with a vengeance. I liked to imagine myself as a space traveler, opening up new horizons of the universe. And of course, like all boys, I loved to design and invent. How can we go without it in space :)