.sectionThirdStage
    h1#and and
    h1#i I 
    h1#can can
    h1#develop develop
    img#planet-git(src="src/img/planet-git.svg" alt="Orange planet with Git logo image")
    img#planet-bem(src="src/img/planet-bem.svg" alt="Orange planet with BEM logo image")
    img#planet-gulp(src="src/img/planet-gulp.svg" alt="Orange planet with Gulp logo image")
    img#planet-sass(src="src/img/planet-sass.svg" alt="Orange planet with Sass logo image")
    img#planet-pug(src="src/img/planet-pug.svg" alt="Orange planet with Pug logo image")
    img#planet-vsc(src="src/img/planet-vsc.svg" alt="Orange planet with VSC logo image")