.sectionFifthStage
    h1#contact contact
    h1#me me 
    img#planet-orange-2(src="src/img/planet-orange-2.svg" alt="Orange planet image")
    img#spaceman-3(src="src/img/spaceman-3.svg" alt="Spaceman image")
    img#ring-four(src="src/img/ring-four.svg" alt="Big ring image")
    a(id='roman' href='mailto: roman@pytalev.com' role='button' target='_blank') 
        p roman@pytalev.com
    a(id='collaboration' href='mailto: collaboration@pytalev.com' role='button' target='_blank') 
        p collaboration@pytalev.com
    a(id='training' href='mailto: training@pytalev.com' role='button' target='_blank') 
        p training@pytalev.com
