include ./header.pug
include ./sectionFirstStage.pug 
include ./sectionFirstTextBlock.pug 
include ./sectionSecondStage.pug 
include ./sectionSecondTextBlock.pug 
include ./sectionThirdStage.pug 
include ./sectionThirdTextBlock.pug 
include ./sectionFourthStage.pug 
include ./sectionFourthTextBlock.pug 
include ./sectionFifthStage.pug 